.header-inner, .footer-inner {
  +mobile() { width: auto; }
}

/*新增 for hacking 移动版*/
.main-inner {
  +mobile() { 
    width: auto;
    margin-top: 0px;
    padding: 60px 0px 60px 0px;
    background: #fff;
    opacity: 1;
    min-height: 500px;}
}

.header-inner {
  padding-top: 180px;

  +mobile() {
    padding-top: 0px;
  }
}


.content {
  padding-top: 70px;  
  padding-bottom: 60px;
  +mobile() {
    padding-top: 35px;
  }
}


embed {
  display: block;
  margin: 0 auto 25px auto;
}
