


/*#方块式标题框*/
.site-title {
	line-height: 12;
}


/*消除顶部细线*/
.headband {
background: #222;
height: 0px;
}

/*移动端自适应brand*/
.brand {
    +mobile() {
    display: flow-root;
    padding: 0 0px;
    }
    +tablet() {
    display: inline-block;
    padding: 0 40px;
    }
  }

/*不显示发稿日期图标*/
.fa {
display: none;
}



/*去除归档页鼓励
.posts-collapse .collection-header {
	display: none;
}*/

