.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
    background: #ffffff;
    opacity: 0.8;
    min-height: 500px;
}


//方块式标题框
.site-title {
	line-height: 12.5;
}


//消除顶部细线
.headband {
background: #222;
height: 0px;
}